.header {
  font-family: var(--title-font);
  font-size: 1.4rem;
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--header-height);
  width: 100vw;
  background-color: white;
  
  -webkit-box-shadow: 0 4px 6px -5px black;
  -moz-box-shadow: 0 4px 6px -5px black;
  box-shadow: 0 4px 6px -5px black;
}

.header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  flex-grow: 1;
  padding: 0 20px;
  align-items: center;
}

@media(max-width: 649px) {
  .header-options.hide-options {
    display: none;
  }

  .header-options.show-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 4rem;
    background-color: white;
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--header-height))
  }

  .brand-name {
    display: none;
  }
}

@media(min-width: 650px) {
  .hamburger {
    display: none;
  }

  .header-options {
    display: flex;
    align-items: center;
  }

  .header-options * {
    margin-left: 40px;
  }
}

.header-options * {
  cursor: pointer;
}

.brand {
  cursor: pointer;
}

.brand-logo {
  height: calc(var(--header-height) - 15px);
  width: calc(var(--header-height) - 15px);
  margin-right: 5px;
}

.brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
